
<h3>List of Movies:</h3>


<div class="card" *ngFor="let movie of movies">
  <div class="card-header">
    <!--<img class="card-img-top" src="{{movie.Poster}}" alt="Card image cap">-->
  </div>
  <div class="card-body">
    <h4 class="card-title">{{movie.Title}}</h4>
    <h4>{{movie.Year}}</h4>
    <h5>{{movie.Director}}</h5>
    <h5>{{movie.Genre}}</h5>
    <h5>{{movie.Runtime}}</h5>
  </div>
  <div class="card-footer">
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#editModal">Edit</button>
    <button type="button" class="btn btn-success" (click)="deleteMovie(movie.imdbID)" >Delete</button>
  </div>
</div>

<app-edit-movie [editedMovie]="editedMovie"></app-edit-movie>
<!-- Button trigger modal -->


